# Watchers and contributors to PKU-Alignment OmniSafe repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.

# Global owners
*                                     @zmsn-2077 @Gaiejj @muchvo

# Algorithms
omnisafe/algorithms/model_based/      @hdadong
omnisafe/algorithms/off_policy/       @Gaiejj
omnisafe/algorithms/on_policy/        @Gaiejj @muchvo

# Utils
omnisafe/adapter/                     @Gaiejj @XuehaiPan
omnisafe/models/                      @rockmagma02 @XuehaiPan
omnisafe/utils/                       @Gaiejj @muchvo @XuehaiPan
omnisafe/envs/                        @muchvo @XuehaiPan
omnisafe/common                       @Gaiejj @XuehaiPan
