# Sync with project.dependencies
safety-gymnasium >= 0.1.0
torch >= 1.10.0
numpy >= 1.20.0
tensorboard >= 2.8.0
wandb >= 0.13.0
pyyaml >= 6.0
moviepy >= 1.0.0
typing-extensions >= 4.0.0
typer[all] >= 0.7.0
seaborn >= 0.12.2
pandas >=  1.5.3
matplotlib >= 3.7.1
gdown >= 4.6.0
