[run]
omit =
    ../omnisafe/version.py
    ../docs/*
    ../examples/*
    ../tutorials/*

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise FileNotFoundError
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
    if __name__ == ('__main__'|"__main__"):
    if TYPE_CHECKING:
